.t {
       width: 65px;
       height: 30px;
       border: 1px solid #999;
       border-radius: 20px;
       background-color: #fff;
       position: fixed;
       z-index: 999;
       top: 10px;
       right: 10px;
       display: flex;
       align-items: center;
       justify-content: space-around;
       cursor: pointer;
}

.t-icon:nth-child(1) {
       font-size: 24px;
       color: yellow;
}

.t-icon:nth-child(2) {
       font-size: 24px;
       color: #a1a18b;
}

.t-button {
       width: 31px;
       height: 31px;
       border-radius: 50%;
       background-color: rgb(184, 183, 183);
       position: absolute;
       transition: all 0.3s linear;
}